@addTagHelper *, Dosaaf
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Цены";
}

<div id="price-section">
    <div id="price-welcome-section">
        <div id="price-welcome-left-section">
            <h1>Стоимость подготовки водителей транспортных средств АН ПОО "Учебный Центр Гайского ДОСААФ"</h1>
            <p>Стоимость подготовки водителей транспортных средств установлена на основании приказа директора АН ПОО "Учебный Центр Гайского ДОСААФ" от 19.02.2021г.</p>
        </div>
        <div id="price-welcome-right-section">
            <img src="~/static/Images/car-loan.png" />
        </div>
    </div>
    <div id="price-category-section">
        <div id="price-category-text-section">
            <img src="~/static/Images/steering-wheel.png" />
            <h1>Категории водителей</h1>
        </div>
        <div id="price-category-card-section">
            <div class="price-category-category-card">
                <img src="~/static/Icons/atv.png" />
                <h1>Категория "М"</h1>
                <div id="price-category-price-card">
                    <h2>122 часа</h2>
                    <h2 class="count-education">1 месяц</h2>
                    <h1>8000 рублей</h1>
                </div>
            </div>
            <div class="price-category-category-card">
                <img src="~/static/Icons/motorbike.png" />
                <h1>Категория "А"</h1>
                <div id="price-category-price-card">
                    <h2>130 часов</h2>
                    <h2 class="count-education">1,5 месяца</h2>
                    <h1>10000 рублей</h1>
                </div>
            </div>
            <div class="price-category-category-card">
                <img src="~/static/Icons/car (1).png" />
                <h1>Категория "B"</h1>
                <div id="price-category-price-card">
                    <h2>194 часа</h2>
                    <h2 class="count-education">3 месяца</h2>
                    <h1>35000 рублей</h1>
                </div>
            </div>
            <div class="price-category-category-card">
                <img src="~/static/Icons/trailer.png" />
                <h1>Категория "CE"</h1>
                <div id="price-category-price-card">
                    <h2>40 часов</h2>
                    <h2 class="count-education">1 месяц</h2>
                    <h1>18000 рублей</h1>
                </div>
            </div>
            <div class="price-category-category-card">
                <img src="~/static/Icons/delivery-truck.png" />
                <h1>Категория "C"</h1>
                <div id="price-category-price-card">
                    <h2>C "В" на "С"</h2>
                    <h2 class="count-education">1,5 месяца</h2>
                    <h1>23000 рублей</h1>
                </div>
            </div>
            <div class="price-category-category-card">
                <img src="~/static/Icons/car (1).png" />
                <h1>Категория "C"</h1>
                <div id="price-category-price-card">
                    <h2>C "С" на "В"</h2>
                    <h2 class="count-education">1,5 месяца</h2>
                    <h1>17500 рублей</h1>
                </div>
            </div>
            <div class="price-category-category-card">
                <img src="~/static/Icons/bus.png" />
                <h1>Категория "C"</h1>
                <div id="price-category-price-card">
                    <h2>C "С" на "Д"</h2>
                    <h2 class="count-education">2 месяца</h2>
                    <h1>23000 рублей</h1>
                </div>
            </div>
            <div class="price-category-category-card">
                <img src="~/static/Images/car-loan.png" />
                <h1>Минимум</h1>
                <div id="price-category-price-card">
                    <h2>20 часов</h2>
                    <h2 class="count-education">менее месяца</h2>
                    <h1>1200 рублей</h1>
                </div>
            </div>
        </div>
        <h1>А также присутствует и дополнительное вождение</h1>
        <p>Актуальные цены уточнять у преподавателей</p>
    </div>
</div>