@addTagHelper *, Dosaaf
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Dosaaf.Models.EducationModel

@{
    ViewBag.Title = "Запись на обучение";
    Layout = "../Shared/_Layout.cshtml";
}

<div id="record-education-main-section">
    <div id="record-education-section">

        <div id="record-education-left-section">
            <form class="send-form" method="post" asp-action="RecordEducation">
                <img src="~/static/Images/car-loan.png" />
                <h1>Заявка на обучение</h1>
                <div class="application-point">
                    <label>Введите имя</label>
                    <input type="text" asp-for="FirstName" placeholder="Иван"/>
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="application-point">
                    <label>Введите фамилию</label>
                    <input type="text" asp-for="LastName" placeholder="Иванов"/>
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="application-point">
                    <label>Введите номер телефона</label>
                    <input type="text" asp-for="Phone" placeholder="83526242344"/>
                    <span asp-validation-for="Phone"></span>
                </div>
                <div class="application-point">
                    <label>Введите E-mail</label>
                    <input type="email" asp-for="Email" placeholder="gaidosaaf@mail.ru"/>
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="application-point">
                    <label>Выберите категорию</label>
                    <select asp-for="Category" asp-items="ViewBag.Categories"></select>
                </div>
                <div class="application-point">
                    <input class="submit-changes" type="submit" value="Отправить заявку" />
                </div>
            </form>
        </div>
        <div id="record-education-right-section">
            <h1>Запись на обучение</h1>
            <p>Заполнив данную форму, вы можете записаться на обучение. <br />Оставьте заявку и мы позвоним, когда освободяться места</p>
            <img src="~/static/Images/pngwing.com.png" />
        </div>
    </div>
</div>