@addTagHelper *, Dosaaf
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Спасибо за оформление";
}

<div id="record-education-main-section">
    <div id="record-education-section">
        <div id="online-education-left-section">
            <h1>Спасибо за заявку</h1>
            <p>Мы выслали данные вам на почту. Проверьте свою почту. В течение некоторого времени мы пришлем Вам подтверждение записи. </p>
            <img src="~/static/Images/pngwing.com (1).png"/>
        </div>
    </div>
</div>