@addTagHelper *, CsgoFade
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Сведения";
    Layout = "../Shared/_Layout.cshtml";
}

<div id="tips-section">
    <div id="main-tips-section">
        <div id="main-tips-left-section">
            <h1>Основные сведения</h1>
            <p>
                История создания "Учебного Центра Гайского ДОСААФ" берет начало с 1961 года, когда на базе Гайского районного комитета ДОСААФ были созданы курсы по подготовке водителей категории "А" и "В". С 1985 стала проводиться подготовка водителей категории "ВС", а в 1993 году в свзяи с вводом в эксплуатацию Дома военно-технического обучения органами ГАИ было дано разрешение на подготовку водителей всех категорий (А, В, С, Д, Е, ВС). В 2012 году курсы по подготовке водителей были преобразованы в АН ПОО "Учебный центр Гайского ДОСААФ".

                Автономная некоммерческая профессиональная образовательная организация «Учебный Центр Гайского ДОСААФ»,  является не имеющей членства некоммерческой организацией, учрежденной  на основе добровольного взноса учредителя в соответствии с Гражданским кодексом Российской Федерации и Федеральным Законом "О некоммерческих организациях".
            </p>
        </div>
        <div id="main-tips-right-section">
            <h1>Учредителями Органицазии являются</h1>
            <ul>
                <li>Петров Владимир Михайлович <i class="fa-solid fa-caret-left"></i></li>
                <li>Петров Александр Владимирович <i class="fa-solid fa-caret-left"></i></li>
            </ul>
        </div>
    </div>
    <div id="structures-tips-section">
        <div id="structures-tips-top-center-section">
            <h1>Структура и органы управления организацией</h1>
            <p>
                Структура и система управления образовательной организации

                Автономная некоммерческая профессиональная образовательная организация «Учебный Центр Гайского ДОСААФ»

                Адрес официального сайта:  gai-dosaaf.ru



                Высшим руководящим органом Организации является Учредитель.

                Исполнительным органом Организации является Директор.

                Организационно штатная структура
            </p>
        </div>
        <div id="structures-tips-bottom-section">
            <div id="structures-tips-bottom-left-section">
                <h1>Директор: Петров Владимир Михайлович</h1>
                <ul>
                    <li><i class="fa-solid fa-caret-right"></i>Адрес: Оренбургская обл., г. Гай, ул. Молодежная, д.4А</li>
                    <li><i class="fa-solid fa-caret-right"></i>Телефон: 8 (353 62) 4-23-44</li>
                    <li><i class="fa-solid fa-caret-right"></i>E-mail: gaidosaaf@mail.ru</li>
                </ul>
            </div>
            <div id="structures-tips-bottom-right-section">
                <h1>Заместитель директора: Петров Александр Владимирович</h1>
                <ul>
                    <li><i class="fa-solid fa-caret-right"></i>Адрес: Оренбургская обл., г. Гай, ул. Молодежная, д.4А</li>
                    <li><i class="fa-solid fa-caret-right"></i>Телефон: 8 (353 62) 4-23-44</li>
                    <li><i class="fa-solid fa-caret-right"></i>E-mail: gaidosaaf@mail.ru</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="education-tips-section">
        <div id="education-tips-top-section">
            <div id="education-tips-top-left-section">
                <h1>Реализуемый уровень образования</h1>
                <p>Программы профессионального обучения (подготовки, переподготовки водителей транспортных средств), обучение по которым проводится в нашей образовательной                 организации, реализуются без повышения образовательного уровня обучающихся.</p>
            </div>
            <div id="education-tips-top-right-section">
                <h1>Формы обучения</h1>
                <p>Обучение по образовательным программам проводится в очной форме.</p>
            </div>
        </div>
        <div id="education-tips-center-section">
            <div id="education-tips-center-top-text-section">
                <h1>Нормативные сроки обучения</h1>
                <p>Нормативные сроки освоения по образовательным программам составляют</p>
            </div>
                    
            <div id="education-tips-center-bottom-section">
                <div class="education-tips-category-card">
                    <img src="~/static/Icons/atv.png" />
                    <h1>Категория "М"</h1>
                    <div id="education-price-card">
                        <h2>122 часа</h2>
                        <h2 class="count-education">1 месяц</h2>
                    </div>
                </div>
                <div class="education-tips-category-card">
                    <img src="~/static/Icons/motorbike.png" />
                    <h1>Категория "А"</h1>
                    <div id="education-price-card">
                        <h2>130 часов</h2>
                        <h2 class="count-education">1,5 месяца</h2>
                    </div>
                </div>
                <div class="education-tips-category-card">
                    <img src="~/static/Icons/car (1).png" />
                    <h1>Категория "B"</h1>
                    <div id="education-price-card">
                        <h2>194 часа</h2>
                        <h2 class="count-education">3 месяца</h2>
                    </div>
                </div>
                <div class="education-tips-category-card">
                    <img src="~/static/Icons/trailer.png" />
                    <h1>Категория "CE"</h1>
                    <div id="education-price-card">
                        <h2>40 часов</h2>
                        <h2 class="count-education">1 месяц</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="material-tips-section">
        <div id="material-tips-top-section">
            <div id="material-tips-top-left-section">
                <h1>Сведения об оборудованных учебных кабинетах</h1>
                <p>Оборудованные учебные кабинеты расположены по адресам:
                462630, Оренбургская область, г. Гай, ул. Молодежная, д.4А
                </p>
            </div>
            <div id="material-tips-top-right-section">
                <img src="~/static/Images/cabinet.jpg" />
            </div>
        </div>
        <div id="material-tips-object-section">
            
            <div id="material-tips-object-left-section">
                <img src="~/static/Images/autopark.jpg" />
            </div>
            <div id="material-tips-object-right-section">
                <h1>Объекты для проведения практических занятий</h1>
                <p>Учебная площадка: 462630, Оренбургская область, г. Гай, ул. Молодежная, д.4А
                Библиотеки — отсутствуют
                Объекты спорта — отсутствуют
                </p>
            </div>
        </div>
    </div>
</div>