@font-face {
    font-family: "Montserrat-Regular";
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat-Light";
    src: url(../font/Montserrat-Light.ttf);
}
